.trans-1
{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: 301;
    background-color:rgb(255, 255, 255);
    pointer-events: none;
    transition: 0.5s ease-out;
}

.is-active
{
    left: 0;
}